/* untuk tablet */

@media all and (max-width: 1000px) {}


/* home */

.top-wrapper h1 {
    font-size: 32px;
}


/* end-home */

/* about */
.heading h1 {
    font-size: 30px;
}
  
.card {
    width: 50%;
    margin-bottom: 50px;
}
/* end-about */

/* untuk ponsel */

@media all and (max-width: 670px) {
    /* header */
    .header-right {
        display: none;
    }
    span.menu-icon {
        display: block;
    }
    /* end-header */
    /* home */
    .top-wrapper {
        text-align: left;
    }
    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }
    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }
    /* end-home */
    /* about */
    .card {
        width: 100%;
    }
    /* end-about */
    /* contact */
    .form-group {
      width: 100%;
      font-size: 15px;
    }
    /* end-contact */
}
