* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


/* header */

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: #3A405A;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    background-color: #685044;
}

.header-right a:hover {
    background-color: #99B2DD;
}

span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}


/* end header */


/* home */

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(image/bg-top.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}


/* end-home */


/* about */


/* end-about */


/* contact */


/* end-contact */


/* footer */


/* end-footer */