* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


/* header */

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: #3A405A;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    background-color: #685044;
}

.header-right a:hover {
    background-color: #99B2DD;
}

span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}


/* end header */


/* home */

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(image/bg-top.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}


/* end-home */


/* about */
.about-body {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}
  
.heading {
    padding-top: 50px;
    padding-bottom: 80px;
    color: black;
}
  
.heading h1 {
    font-weight: bold;
}
  
.card {
    float: left;
    width: 20%;
}
  
.card-icon {
    position: relative;
}
  
.card-icon img {
    border: 2px solid #000000;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 25px;
}
  
.card-txt {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 24px;
    color: balck;
}

/* end-about */


/* contact */
.contact-form {
    padding-top: 50px;
    text-align: center;
    background: #f7f7f7;
  }

input, textarea {
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #dee7ec;
   }
  
.contact-submit {
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 10px;
    display: inline-block;
    margin-bottom: 50px;
    }

/* end-contact */


/* footer */
footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
/* end-footer */
